body{
    display: block;
    width: 100%;
    margin: 0px;
}
.navtop{
    margin: 0px;
}
nav ul.list-nav{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: chartreuse;
}
ul.list-nav li{
    list-style: none;
}
li.item-left,li.icon-dakhota{
    float: left;
}
li.item-right{
    float: right;
}
ul.list-nav li a{
    display: block;
    float:left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 15px;
    
}
ul.list-nav li a:hover{
    background-color: rgb(92, 145, 40);
    color: white;
}

/*********************deployment button************************/

ul.list-nav li.dropdown-icon{
    display: none;
    float: right;
}

/**********************Mobile****************/
@media screen and (max-width:500px){
    ul.list-nav li#dropdown-icon{
        display:block;
    }
    ul.list-nav li:not(:nth-child(1),:nth-child(2)){
        display: none;
    }
}