body.loginUp-body{
    background-color: chartreuse;

}

.loginUp-container{
    display: block;
    margin-top: 300px;
    width: 100%;
}

#loginUp-card{
    background-color: chocolate;
    width: 500px;
    margin: auto;
 
}
.textbox{
    width: 400px;
    margin: auto;
}